body{
    background-color: silver;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a.skip{
    position: relative;
    left: -2000px;
}

a:focus{
    border: 1px solid black;
}

a.skip:focus{
    position: relative;
    left: 10px;
    border: 2px solid black;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: yellow;
}


a.current{
    color: red;
    border: 2px solid black;
}

